// Tailwind
@tailwind utilities;
//PrimeNG
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

$primary: #cfeaff;
//General
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f9f9f9;
}
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  outline: none;
  // For responsive mode in browsers
  -webkit-tap-highlight-color: transparent;
}

// i hate the default windows scrollbar thats why i did this
::-webkit-scrollbar {
  width: 19px;
  height: 19px;
}
::-webkit-scrollbar-button {
  display: none;
}
*::-webkit-scrollbar-corner {
  display: none;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 19px 19px $primary;
  border: solid 7px transparent;
  border-radius: 30px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 19px 19px darken($primary, 20);
  border: solid 7px transparent;
  border-radius: 30px;
  min-height: 60px;
}

.status {
  padding: 0 0.5rem;
  border-radius: 0.8rem;
  @apply text-xs;
  &-green {
    @apply text-green-500;
    @apply bg-green-100;
  }
  &-orange {
    @apply text-orange-500;
    @apply bg-orange-100;
  }

  &-red {
    @apply text-red-500;
    @apply bg-red-100;
  }
}
