:host ::ng-deep {
  //TREE
  .p-tree-toggler {
    display: none;
  }
  p-tree > .p-component {
    border: 0 !important;
    border-radius: 1rem !important;
    padding: 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  .p-tree-wrapper {
    margin-bottom: 1rem;
  }
  .p-treenode-content {
    @apply bg-secondary;
    .p-checkbox .p-checkbox-box .p-icon {
      color: #0091ff;
    }
  }
  .p-treenode-icon {
    display: none;
  }
  .p-tree {
    padding: 0;
  }
  .p-tree .p-tree-container .p-treenode:focus > .p-treenode-content {
    box-shadow: none;
  }
  .p-treenode-label {
    display: block;
    width: 100%;
  }
  .parent-tree-node > .p-treenode-content .p-checkbox.p-component {
    display: none;
  }

  .p-treenode-children {
    margin-top: 8px !important;
  }
  .p-treenode {
    &[aria-checked="true"] > .p-treenode-content {
      @apply bg-primary;
    }
  }

  .parent-tree-node {
    margin-top: 0.5rem;

    & > ul {
      max-height: 300px;
      overflow-y: auto;
    }
    &[aria-expanded="true"] {
      //EXPANDED STATE
      & > .p-treenode-content {
        padding: 0.5rem;
        @apply bg-primary;
      }
    }
  }

  .p-checkbox .p-checkbox-box {
    background-color: #fff !important;
    border-color: #fff !important;
  }

  // Dropdown
  .p-dropdown {
    border: none;
    box-shadow: none;
    width: 100%;
    position: relative;
  }
  .p-dropdown-label {
    max-width: max-content;
    padding-right: 8px;
  }
  .p-dropdown-trigger {
    width: auto !important;
  }
}
.dropdown-wrapper {
  ::after {
    content: "";
    position: absolute;
    right: 0;
    width: 3px;
    height: 50%;
    background-color: #f1f1f1;
    translate: 0 -50%;
    top: 50%;
  }
}
.container {
  padding: 1rem;
}
.custom-tree-node-toggle i {
  font-size: 0.85rem;
  font-weight: bold;
}

.resize-handle {
  margin: auto 16px 8px auto;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 30px;
  cursor: nwse-resize;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  @apply text-primary;
}
.ptree-container {
  max-height: calc(100vh - 2rem); // acts as padding for resizing
}
